body {
    background-image: url('../img/bg.jpg');
    background-repeat: repeat-y;
    background-size: contain;
    color: aliceblue !important;
}

/*Align the title to the center of the page*/
.table {
    font-size: 13px;
    text-align: center;
    width: 95%;
    margin: auto;
    text-align: center;
}

.efeito-vidro {
    padding: 4% !important;
    background: rgba(3, 0, 0, 0.5);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.form-login {
    text-align: center;
}

.titulo {
    font-family: helvetica;
    font-weight: bolder;
    text-align: center;
    padding-bottom: 2%;
}

tr a {
    text-decoration: none;
}

tr a:hover {
    color: aqua;
    text-decoration: none;
}

th {
    background-color: #054175 !important;
    color: rgb(255, 255, 255) !important;
}

.display_table {
    border-bottom-right-radius: 20px;
    /*border-bottom-left-radius: 20px;*/
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 20px;
    box-shadow: 12px 12px 20px 6px #05080a;
}

.fontealerta {
    color: rgb(207, 7, 7);
    font-size: 1.5em;
    text-decoration: none;
    text-align: center;
    animation: animate 1.5s linear infinite;
}

@keyframes animate {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.7;
    }

    100% {
        opacity: 0;
    }
}

.espaco {
    padding: 1% 1% 0% 5% !important;
}

.teste {
    padding: 30%;
    width: 40%;
}

.container-login {
    display: flex;
    justify-content: center;
    /* Centraliza horizontalmente */
    align-items: center;
    /* Centraliza verticalmente */

}